body
{
    background-image: url("pic/new3.png");
    background-repeat: no-repeat;
    background-size: 100% 285vh;
    margin: 0;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
    }
    h1{
        font-size: 50px;
    }
    .name{
        color: rgb(29, 89, 255);
    }
    .m{
        color: rgb(37, 207, 14);
    }
    .k{
        color: rgb(8, 219, 43);
    }
    h3{
        font-size: 40px;
        color: rgb(9, 226, 9);
    }
    p{
        color: gray;
    }
    .half-width{
        width: 38%;
        float: left;
        margin-left: 6%;
        padding-left: 3%;
    }
.area{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    background-color: rgb(202, 247, 255);
}
#full-stack{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(238, 186, 89), rgb(231, 54, 23));
    border-image-slice: 1;
}
#normal-border{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(110, 110, 221), rgb(16, 243, 16));
    border-image-slice: 1;
}
    .half-width img{
     width: 100%;
     height: 90%;
 
    }
    section{
        width: 100%;
        height: 500px;
    }
.visit:visited{
    color: black;
}
    .type{

        width:20%;
        height: 5%;
        animation-duration: 2s;
        
    }

    
    .button{
        background-image: linear-gradient(yellow, orange);
        border-radius: 10px;
        padding: 10px 20px;
        color: rgb(30, 14, 253);
        font-weight: bold;
        text-decoration-line: none;
}
 .parent{
     width: 100vw;
     height: 28vh;
     
     position: relative;
 }
.child{

    width: 600px;
    height: 157px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);



}


body main{
    position: absolute;
    text-align: center;
}  
.new-box{
    box-shadow: 10px 10px 30px gray;
    background: linear-gradient(rgb(213, 116, 252), rgb(39, 255, 39));
    color: blue;
    border-radius: 10px;
}
#box-border{
    border-left:5px solid;
    border-right: 5px solid;
    border-image: linear-gradient(rgb(61, 253, 87), rgb(243, 80, 16));
    border-image-slice: 1;

}

 

